/*
* @Author: zhouchao
* @Date:   2020-04-16 11:23:26
* @Last Modified by:   zhouchao
* @Last Modified time: 2020-04-24 09:24:05
*/
.left {
  height: 100%
}

#cls_title {
  color: #FFFFFF;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  text-decoration: none;
  background-color: #bebebe;
}

#v_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
}

#v_ul a:link,
#v_ul a:visited {
  display: block;
  font-weight: bold;
  color: #000000;
  background-color: #EEEEEE;

  text-align: left;
  padding: 10px;
  text-decoration: none;
}

#v_ul a:hover,
#v_ul a:active {
  background-color: #cc0000;
  color: #FFFFFF;
}
