/*
* @Author: zhouchao
* @Date:   2020-04-22 16:12:14
* @Last Modified by:   zhouchao
* @Last Modified time: 2020-05-21 17:04:32
*/

/*顶部列表栏目的导航栏*/
#h_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-style: dashed;
  border-color: #0000FF;
  border-width: thin;
  font-size: 1.25rem;
}

#h_ul li {
  float: left;
}

#h_ul a:link,
#h_ul a:visited {
  display: block;
  width: 150px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: black;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  text-transform: none;
}

#h_ul a:hover,
#h_ul a:active {
  background-color: #00CC00;
}

/*顶部标题链接到欢迎页*/
#main-top a:link,
#main-top a:visited {
  color: black;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

#main-top a:hover,
#main-top a:active {
  background-color: transparent;
}
